<div class="row">
    <div class="col-md-2" ng-repeat="category in allData.sports | filter: {title:sportTitle}">
        <ul class="list-group" ng-repeat="cat in category.categories">
            <li>
                <a class="list-group-item" href="" ng-click="setCurrent(cat.categoryTitle)" ng-class="{'selected': myVal == false}">
                    {{cat.categoryTitle}}
                </a>
                <ul class="list-group" ng-hide="myVal">
                    <li ng-repeat="item in cat.subCategories" >
                        <a class="list-group-item" href="" ng-click="displayItem(item)">
                            {{item.subCategoryTitle}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-10" ng-show="!shownItem">
        <div>
            <h2 style="text-align:center;">Please select category</h2>
        </div>
    </div>

    <div id="allItems" ng-show="shownItem">
        <div ng-repeat="oneItem in shownItem.items" id="item">

            <img ng-src="{{oneItem.imgs[0]}}" alt="{{oneItem.alt}}" ng-click="MainCtrl.goToDetails(oneItem)"/>
            <br/>

            <div id="textInfo">
                <p>{{oneItem.name}}</p>
                <p>{{oneItem.size}}</p>
                <p>{{oneItem.brand}}</p>
                <p>Price: {{oneItem.price | currency: "€" }}</p>
            </div>
        </div>
    </div>

    <div id="footer"  ng-show="shownItem">
        <div id="footerNav">
            <div id="footerInfo" ng-repeat="sport in allData.sports">
                <a href="" class="navbar-link" ng-click="MainCtrl.setSportId(sport)">{{sport.title}}</a>
            </div>
            <div id="footerInfo">
                <a class="navbar-link" href="#!/contact">Contact</a>
            </div>
        </div>
        <hr>
        <div id="footerEmail">
            <p>Contact me luka95.pezerovic@gmail.com</p>
        </div>
    </div>


</div>