<div class="row">
    <div class="col-md-2" ng-repeat="category in ctrl.allData.sports | filter: {title:ctrl.sportTitle}">
        <ul class="list-group" ng-repeat="cat in category.categories">
            <li>
                <a class="list-group-item" href="" ng-click="ctrl.setCurrent($index)" ng-class="{'selected': $index == ctrl.clicked}">
                    {{cat.categoryTitle}}
                </a>
                <ul class="list-group" ng-show="$index == ctrl.clicked">
                        <li ng-repeat="item in cat.subCategories">
                        <a class="list-group-item" href="" ng-click="ctrl.displayItem(item)">
                            {{item.subCategoryTitle}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-10" ng-show="!ctrl.shownItem">
        <div>
            <h2 style="text-align:center;">Please select category</h2>
        </div>
    </div>

    <div id="allItems" ng-show="ctrl.shownItem">
        <div ng-repeat="oneItem in ctrl.shownItem.items" id="item">
            <items-component one="oneItem"></items-component>
        </div>
    </div>

    <footer-component ng-show="ctrl.shownItem"></footer-component>

</div>