<div class="row">
    <div class="col-md-2" ng-repeat="category in allData.sports | filter: {title:sportTitle}">
        <ul class="list-group" ng-repeat="cat in category.categories">
            <li>
                <a class="list-group-item" href="" ng-click="setCurrent(cat.categoryTitle)" ng-class="{'selected': myVal == false}">
                    {{cat.categoryTitle}}
                </a>
                <ul class="list-group" ng-hide="myVal">
                    <li ng-repeat="item in cat.subCategories" >
                        <a class="list-group-item" href="" ng-click="MainCtrl.displayItem(item)">
                            {{item.subCategoryTitle}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-10" ng-show="!shownItem">
        <div>
            <h2 style="text-align:center;">Please select category</h2>
        </div>
    </div>


    <div id="allItems" ng-show="shownItem">
        <div ng-repeat="oneItem in shownItem.items" id="item">
            <items-component one="oneItem"></items-component>
        </div>
    </div>

    <footer-component ng-show="shownItem"></footer-component>

</div>